.error-wrapper {
  position: relative;
  height: auto;
  margin: 2em auto 0 auto;
}

.error-box {
  max-width: 70%;
  min-height: auto;
  margin: 0 auto;
  padding: 1em 1em;
  text-align: center;
  background: url("https://www.dropbox.com/s/xq0841cp3icnuqd/flame.png?raw=1")
      no-repeat top 10em center/128px 128px,
    transparent
      url("https://www.dropbox.com/s/w7qqrcvhlx3pwnf/desktop-pc.png?raw=1")
      no-repeat top 13em center/128px 128px;
}

.error-title,
.error-text {
  text-shadow: 0 0 6px #216f79;
}

.error-title {
  margin: 0 0 1rem 0;
  font-size: 8em;
}

.error-text {
  margin-bottom: 0.5em;
  font-size: 3em;
}

.error-text:first-of-type {
  margin-top: 4em;
}


