.order-info {
  background-color: var(--color-white);
  padding: var(--space-small);
  border: solid var(--space-medium) var(--color-yellow);
  -moz-box-shadow: inset 0 0 var(--space-big) var(--color-yellow);
  -webkit-box-shadow: inset 0 0 var(--space-big) var(--color-yellow);
  box-shadow: inset 0 0 var(--space-big) var(--color-yellow);
}
