body {
  font-family: "Syne Mono", monospace;
  max-width: 700px;
  padding: var(--space-small);
  margin: 0 auto;
  height: 100%;
  position: relative;
}

@media (min-width: 1025px) {
  body {
    background-image: url("../assets/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 80px;
  }
}

.App {
  background-color: var(--color-yellow);
}
